<?xml version="1.0"?>
<config>
    <modules>
        <Pektsekye_Mmn>
            <version>0.2.0</version>
        </Pektsekye_Mmn>
    </modules>
    <frontend>
        <routers>
            <mmn>
                <use>standard</use>
                <args>
                    <module>Pektsekye_Mmn</module>
                    <frontName>mmn</frontName>
                </args>
            </mmn>
        </routers>
        <layout>
            <updates>
                <mmn>
                    <file>mmn.xml</file>
                </mmn>
            </updates>
        </layout>
		<translate>
            <modules>
                <Pektsekye_Mmn>
                     <files>
                          <default>Pektsekye_Mmn.csv</default>
                     </files>
                </Pektsekye_Mmn>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<mmn>
				<use>admin</use>
				<args>
					<module>Pektsekye_Mmn</module>
					<frontName>mmn</frontName>
				</args>
			</mmn>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<mmn module="mmn">
				<title>Mmn</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="mmn">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>mmn/adminhtml_mmn</action>
					</items>
					<import module="mmn">
						<title>Import / Export</title>
						<sort_order>1</sort_order>
						<action>mmn/adminhtml_mmn/importExport</action>
					</import>					
				</children>
			</mmn>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Pektsekye_Mmn>
							<title>Mmn Module</title>
							<sort_order>10</sort_order>
						</Pektsekye_Mmn>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mmn>
					<file>mmn.xml</file>
				</mmn>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
			<catalog>
				<rewrite> 
					<category>Pektsekye_Catalog_Model_Category</category> 
				</rewrite> 
			</catalog> 	
			<catalog_resource_eav_mysql4>
				<rewrite> 
					<category>Pektsekye_Catalog_Model_Resource_Eav_Mysql4_Category</category> 
				</rewrite>			
			</catalog_resource_eav_mysql4>
			<catalogsearch>
				<rewrite> 
					<layer>Pektsekye_CatalogSearch_Model_Layer</layer> 
				</rewrite> 
			</catalogsearch> 			
            <mmn>
                <class>Pektsekye_Mmn_Model</class>
                <resourceModel>mmn_mysql4</resourceModel>
            </mmn>
            <mmn_mysql4>
                <class>Pektsekye_Mmn_Model_Mysql4</class>
                <entities>
                    <mmn>
                        <table>mmn</table>
                    </mmn>
                </entities>
            </mmn_mysql4>
        </models>
        <resources>
		
            <mmn_setup>
                <setup>
                    <module>Pektsekye_Mmn</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mmn_setup>
            <mmn_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mmn_write>
            <mmn_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mmn_read>
        </resources>
        <blocks>
            <mmn>
                <class>Pektsekye_Mmn_Block</class>
            </mmn>
        </blocks>
        <helpers>
            <mmn>
                <class>Pektsekye_Mmn_Helper</class>
            </mmn>
        </helpers>
    </global>
	
	<default>
		<catalog>
			<navigation>
				<filtering>1</filtering>
			</navigation>
			<search>
				<filtering>1</filtering>
			</search>
		</catalog>
	</default>	
	
</config>